<button type="button" data-toggle="modal" (click)="nuevo()" class="btn btn-primary btn-lg">Crear</button>
<div class="mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo</th>
                <th scope="col">Línea</th>
                <th scope="col">Modelo</th>
                <th scope="col">Precio</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of vehiculos; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.tipo}}</td>
                <td>{{item.linea }}</td>
                <td>{{item.modelo}}</td>
                <td>{{item.precio}}</td>
                <td>
                    <a href="javascript:void(0)" (click)="ver(item.id)" class="text-muted">
                        <i title="Ver información" class="fa fa-eye"> Ver</i>
                    </a>
                </td>
                <td>
                    <a href="javascript:void(0)" class="text-muted">
                        <i title="Modificar" (click)="modificar(item.id)" class="fa fa-pencil">Actualizar</i>
                    </a>
                </td>

                <td>
                    <a href="javascript:void(0)" (click)="eliminar( item.id)" class="text-muted">
                        <i title="Eliminar" class="fa fa-trash"> Eliminar</i>
                    </a>
                </td>
            </tr>

        </tbody>
    </table>
</div>