<div class="mt-5 px-5">

    <div class="row space-card">

        <div class="col">

            <div class="card" style="height: 45rem;">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar cotización" [(ngModel)]="search"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">

                        <button type="button" class="btn btn-outline-primary "
                            (click)="searchCotizacion()">Buscar</button>
                    </div>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Cotizaciones realizadas</h5>
                    <p class="card-text">Estas son las cotizaciones realizadas a la fecha, puede buscar en la barra de
                        búsqueda o por rangos de fecha.
                    </p>


                    <div class="row">
                        <div class="col">
                            <div class="form-group col padding-0">
                                <label for="FechaFin">Fecha desde</label>
                                <input class="form-control" type="date">
                            </div>
                        </div>

                        <div class="col-5 padding-0">
                            <div class="form-group col">
                                <label for="FechaFin">Fecha hasta</label>
                                <input class="form-control" type="date">
                            </div>
                        </div>

                        <div class="col d-flex flex-column padding-0">
                            <button type="button" class="btn btn-outline-secondary mt-auto mb-3">buscar</button>
                        </div>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Vehículo</th>
                                    <th colspan="2" class="text-center">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of cotizaciones; let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{item.createdAt | date:'dd/MM/yy'}}</td>
                                    <td>{{item.nombres }} {{item.apellidos }}</td>
                                    <td>{{item.marca }} {{item.linea }} {{item.modelo }}</td>

                                    <td class="text-center">
                                        <a href="javascript:void(0)" (click)="eliminar(item.id)" class="text-muted">
                                            <i title="Eliminar" class="fa fa-trash">X</i>
                                        </a>
                                    </td>

                                    <td class="text-center">
                                        <a href="javascript:void(0)" (click)="verCotizacion(content, item.id)"
                                            class="text-muted">
                                            <i title="Ver información" class="fa fa-trash">V</i>
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>



                </div>
            </div>

        </div>

        <div class="col-7">
            <div class="card space-card">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar vehículo para cotizar"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-primary ">Buscar</button>
                    </div>
                </div>
                <div class="card-body d-flex flex-column">
                    <p class="card-text">Escriba la marca, línea o modelo de vehículo para cotizar</p>
                    <h5 class="card-title">Listado de vehículos</h5>

                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Línea</th>
                                    <th scope="col">Color</th>
                                    <th scope="col">Modelo</th>
                                    <th scope="col">Precio</th>
                                    <th class="text-center" scope="col">Inventario</th>
                                    <th class="text-center" scope="col">Cotizar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of vehiculos; let i = index">

                                    <th scope="row">{{i+1}}</th>
                                    <td>{{item.tipo}}</td>
                                    <td>{{item.linea }}</td>
                                    <td>{{item.color }}</td>
                                    <td>{{item.modelo}}</td>
                                    <td>Q{{item.precio | number:'1.2-2'}}</td>
                                    <td class="text-center">{{item.cantidad}}</td>
                                    <td class="text-center"><button type="button" (click)="ver(content, item)"
                                            class="btn btn-outline-info">C</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>




                </div>


            </div>


        </div>

    </div>


</div>

<ng-template #content let-modal #customLoadingTemplate>

    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">{{ titleModal }}</h5>
        <button style="width: 50px; height: 50px;" type="button" class="close" aria-label="Close"
            (click)="modal.dismiss()"></button>
        <span aria-hidden="true">&times;</span>
    </div>

    <!--- COTIZAR VEHÍCULO -->
    <div *ngIf="modalCotizar">
        <div class="modal-body">

            <div class="card" style="width: 100%;">

                <div class="card-body">

                    <div class="row">

                        <div class="col">
                            <h4 class="card-title">{{vehiculo.marca}}</h4>
                            <p class="card-text"><b>Tipo: </b> {{vehiculo.tipo}}</p>
                            <p class="card-text"> <b>Línea: </b> {{vehiculo.linea}}</p>
                            <p class="card-text"><b>Color: </b> {{vehiculo.color}}</p>
                            <p class="card-text"><b>Modelo: </b> {{vehiculo.modelo}}</p>
                            <p class="card-text"><b>En inventario: </b> {{vehiculo.cantidad}}</p>
                            <p class="card-text"><b>Formas de compra: </b> {{vehiculo.formaPago}}</p>
                            <p class="card-text"><b>Cantidad de pagos: </b> {{vehiculo.numeroPagos}}</p>
                            <p class="card-text" *ngIf="vehiculo.descripcion"><b>Descripción: </b>
                                {{vehiculo.descripcion}}</p>
                        </div>

                        <div class="col-7 d-flex flex-column padding-0">

                            <form [formGroup]="mForma">

                                <div class="row">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="floatingInput"
                                            (change)="calcularTotal($event)" placeholder="Cantidad a cotizar"
                                            formControlName="cantidad">
                                        <label class="pl-4" for="floatingInput">Cantidad</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="floatingSelect"
                                            aria-label="Floating label select example" formControlName="cliente_id">
                                            <option [value]="item.id" *ngFor="let item of clientes">{{item.nombres}}
                                                {{item.apellidos}}
                                            </option>
                                        </select>
                                        <label class="pl-4" for="floatingSelect">Cliente</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="floatingSelect"
                                            aria-label="Floating label select example"
                                            formControlName="concesionario_id">
                                            <option [value]="item.id" *ngFor="let item of concesionarios">
                                                {{item.nombre}}
                                            </option>
                                        </select>
                                        <label class="pl-4" for="floatingSelect">Concesionario</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="floatingSelect"
                                            aria-label="Floating label select example" formControlName="agente_id">
                                            <option [value]="item.id" *ngFor="let item of agentes">{{item.nombres}}
                                                {{item.apellidos}}
                                            </option>
                                        </select>
                                        <label class="pl-4" for="floatingSelect">Agente</label>
                                    </div>
                                </div>

                            </form>

                            <h4>Total cotización: <p style="color: darkgreen;">{{totalCotizacion}}</p>
                            </h4>


                            <div class="row text-center mt-auto">
                                <div class="col">
                                    <button type="button" class="btn btn-outline-info" (click)="onSubmit()">Enviar
                                        cotización</button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-outline-info"
                                        (click)="imprimirCotizacion()">Imprimir cotización</button>
                                </div>
                            </div>


                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>

    <div *ngIf="modalCotizarDetalle">
        <div class="modal-body">

            <div class="card" style="width: 100%;">

                <div class="card-body">

                    <div class="row">

                        <div class="col">
                            <p class="card-text"> <b>Fecha de cotización: </b> {{cotizacionId.createdAt |
                                date:'dd/MM/yy'}}</p>
                            <p class="card-text"><b>Cliente: </b> {{cotizacionId.nombres}} {{cotizacionId.apellidos}}
                            </p>

                            <p class="card-text"><b>Vehículo: </b> {{cotizacionId.marca}} {{cotizacionId.linea}}
                                {{cotizacionId.modelo}} {{cotizacionId.color}}
                            </p>
                            <p class="card-text"><b>Precio de unidad: </b> {{cotizacionId.precio}}
                            </p>

                            <p class="card-text"><b>Cantidad cotizada: </b> {{cotizacionId.cantidad}}
                            </p>

                            <p class="card-text"><b>Total de cotización: </b> {{cotizacionId.total}}
                            </p>

                            <p class="card-text"><b>Tienda: </b> {{cotizacionId.concesionario}}
                            </p>

                            <p class="card-text"><b>Agente que le atendió: </b> {{cotizacionId.agente}}
                            </p>
                        </div>


                    </div>



                </div>
            </div>

        </div>
    </div>
</ng-template>